/* DEFAULT STYLES */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--bgc--primary) !important;
	color: var(--color--primary) !important;
	block-size: 100vb;
	margin: 0;
	padding: 0;
	font-family: var(--font-family--primary);
	font-size: var(--font-size--x-large);
	line-height: 1.5;
	text-align: center;
}

/* div:not(.float-start, .float-end, #ansarea, .justify-content-center, .d-flex > div, .answer-container) {
	inline-size: 100%;
	margin: 0 auto;
} */

p {
	margin: var(--spacing--default) 0;
}

a {
	color: currentcolor;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	text-decoration-thickness: calc(var(--spacing--default) / 12);
	text-underline-offset: calc(var(--spacing--default) / 12);
	transition: all 250ms;

	&:hover {
		color: var(--color--cloze);
	}
}

ol,
ul {
	margin: calc(var(--spacing--default) / 1.5) 0 0;
	padding: 0 0 0 calc(var(--spacing--default) / 0.75);
}

li + li {
	margin-block-start: calc(var(--spacing--default) / 3);
}

input,
pre,
textarea {
	outline: none;
	inline-size: 100%;
	margin: 0 auto calc(var(--spacing--default) * 2);
	line-height: 1.333;
}

code {
	background-color: var(--bgc--secondary);
	border-color: var(--bgc--tertiary);
	padding: 0 4px;
}

pre,
textarea.is-comparison {
	background-color: var(--bgc--pre);
	border: none;
	color: var(--color--pre);
}

input,
textarea {
	background-color: var(--bgc--input);
	border: calc(var(--spacing--default) / 24) solid var(--bgc--tertiary);
	color: var(--color--secondary);
}

input {
	padding: calc(var(--spacing--default) / 2);
}

textarea {
	resize: block;
	display: block;
	block-size: 9.75rem;
}

textarea::placeholder {
	color: var(--color--tertiary);
	font-family: var(--font-family--primary);
	font-size: var(--font-size--large);
	line-height: 1.5;
}
