.card {
  background-color: var(--bgc--primary);
}

code#typeans {
  display: block;
  background-color: var(--bgc--pre);
  border: none;
  color: var(--color--pre);
  margin: calc(var(--spacing--default) / 2) auto calc(var(--spacing--default) * 2);
}

input#typeans {
  background-color: var(--bgc--input);
  border: calc(var(--spacing--default) / 24) solid var(--bgc--tertiary);
  color: var(--color--secondary);
}

hr#answer {
  border-color: var(--bgc--secondary);
  border-style: solid;
  border-width: calc(var(--spacing--default) / 12);
  border-block-start: 0;
  margin: var(--spacing--default) 0;
}

#typearrow {
  color: var(--color--pre);
  padding: calc(var(--spacing--default) / 6) 0;

  .nightMode & {
    background-color: transparent;
  }
}

.typeBad,
.typeGood,
.typeMissed {
  color: var(--color--typed);
}

.typeBad {
  background: var(--bgc--typed-bad);
}

.typeGood {
  background: var(--bgc--typed-good);
}

.typeMissed {
  background: var(--bgc--typed-missed);
}

/* DEFAULT ANKIWEB ELEMENTS */

nav.navbar {
  margin-block-end: 0 !important;
}

main.container {
  max-inline-size: 100% !important;
  margin: 0 !important;
  padding: 0 !important;

  .float-start,
  .float-end,
  #ansarea {
    padding: 1rem;
  }

  #qa_box {
    #qa {
      margin: 0;
    }
  }
}

/* DEFAULT ANKIDROID ELEMENTS */

#content {
  margin: 0;
}
