.box {
  border: calc(var(--spacing--default) / 24) solid transparent;
  border-radius: var(--border-radius--default);
  font-size: var(--font-size--large);

  pre {
    margin: 0 0 var(--spacing--default);
  }

  &.has-comparison {
    border: none;
  }

  .comparison {
    border-radius: 0 0 var(--border-radius--default) var(--border-radius--default);
    margin: 0;
  }

  .box__header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius--default) var(--border-radius--default) 0 0;
    color: var(--color--tertiary);
    block-size: 28px;
    margin: 0 auto;
    font-size: var(--font-size--small);
    font-weight: var(--font-weight--strong);
    text-transform: uppercase;
  }

  .box__content {
    text-align: start;

    > *:first-child {
      margin-block-start: 0;
    }

    > *:last-child {
      margin-block-end: 0;

      pre {
        margin-block-end: 0;
      }
    }

    ul,
    ol {
      ul,
      ol {
        margin-block-start: calc(var(--spacing--default) / 3);
      }
    }

    > div > ol:first-child,
    > div > ul:first-child {
      margin-block-start: 0;
    }

    > div > ol:last-child,
    > div > ul:last-child {
      margin-block-end: 0;
    }

    .user-answer &,
    .reference-answer & {
      padding: calc(var(--spacing--default) / 1.5) calc(var(--spacing--default) * 0.75);
    }
  }

  .answer-container & {
    background-color: var(--bgc--secondary);
    border-color: var(--bgc--tertiary);
    color: var(--color--secondary);

    :not(pre) > code {
      background-color: var(--bgc--tertiary);
      border-color: var(--bgc--quaternary);
    }

    .box__header {
      background-color: var(--bgc--tertiary);
      padding: calc(var(--spacing--default) / 12) var(--spacing--default) 0;
    }
  }

  .notes-container & {
    background-color: var(--bgc--notes);
    border-color: var(--bgc--secondary);
    color: var(--color--tertiary);

    .box__header {
      align-items: flex-end;
      justify-content: flex-start;
      color: var(--color--quaternary);
      opacity: 0.75;
      padding: 0 var(--spacing--default);
    }

    .box__content {
      padding: calc(var(--spacing--default) / 2) var(--spacing--default) var(--spacing--default);
    }
  }
}
