.topic {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgc--tertiary);
  color: var(--color--tertiary);
  block-size: 2.5rem;
  margin: 0 auto var(--spacing--default);
  font-size: var(--font-size--x-large);
  font-weight: var(--font-weight--normal);
}
