/*
 * Editor Fields CSS
 *
 * Default styles for content inside Anki Desktop editor fields.
 * User rules from user_files/editor-fields.css are appended after this file.
 *
 * Use class .nightMode or .night_mode for night mode specific CSS.
 * Use the attribute selector mid for for note type specific CSS, e.g. [mid="1616909476324"]
 */

@import url("../../shared/css/variables.css");
@import url("../../shared/css/default.css");
@import url("../../shared/css/syntax-highlighting.css");

code {
  background-color: var(--syntax-gray-white-light-extra);
  border-color: var(--syntax-gray-white-light);
  color: var(--syntax-gray-fade);
  padding: 2px 4px;

  .nightMode & {
    background-color: var(--syntax-gray-medium-dark);
    color: var(--syntax-gray-white);
  }
}

pre {
  background-color: var(--syntax-gray-fade-black);
  color: var(--syntax-gray-light);
  margin: 0 auto;

  code {
    color: var(--syntax-gray-light);
  }
}
