/*
 * Editor Fields CSS
 *
 * Default styles for content inside Anki Desktop editor fields.
 * User rules from user_files/editor-fields.css are appended after this file.
 *
 * Use class .nightMode or .night_mode for night mode specific CSS.
 * Use the attribute selector mid for for note type specific CSS, e.g. [mid="1616909476324"]
 */

@import url("../../shared/css/fonts.css");
@import url("../../shared/css/variables.css");
@import url("../../shared/css/default.css");
@import url("../../shared/css/syntax-highlighting.css");

anki-editable {
	--code-background: #f1f1f1; /* --syntax-gray-white-light */
	--code-border: #e1e1e1;
	--code-text: #383838; /* --syntax-gray-fade */
	--theme-bg: #242424;
}

code {
	background-color: var(--code-background);
	border-color: var(--code-border);
	color: var(--code-text);

	.nightMode & {
		background-color: var(--syntax-gray-dark);
		color: var(--syntax-gray-white);
	}
}

pre {
	background-color: var(--theme-bg);
	color: var(--syntax-gray-light);
	margin: 0 auto;

	code {
		color: var(--syntax-gray-light);
	}
}
