/*
 * Editor Fields CSS
 *
 * Default styles for content inside Anki Desktop editor fields.
 * User rules from user_files/editor-fields.css are appended after this file.
 *
 * Use class .nightMode or .night_mode for night mode specific CSS.
 * Use the attribute selector mid for for note type specific CSS, e.g. [mid="1616909476324"]
 */
@import url("../../shared/css/syntax-highlighting.css");

anki-editable {
	--code-background: #f1f1f1; /* --syntax-gray-white-light */
	--code-border: #e1e1e1;
	--code-text: #383838; /* --syntax-gray-fade */
	--theme-bg: #242424;
}

code,
pre {
	border-radius: 6px;
	font-family: var(--font-family--mono);
	font-size: 16px;
	font-style: normal;
}

code {
	background-color: var(--code-background);
	border: 1px solid var(--code-border);
	color: var(--code-text);
	padding: 2px 4px;
	line-height: 1;

	.nightMode & {
		background-color: var(--syntax-gray-dark);
		color: var(--syntax-gray-white);
	}
}

pre {
	background-color: var(--theme-bg);
	color: var(--syntax-gray-light);
	margin: 0 auto;
	padding: 24px;
	text-align: start;
	white-space: pre-wrap;

	& code {
		background: transparent;
		border: none;
		color: var(--syntax-gray-light);
		padding: 0;
	}
}
